corpus.txt
ppCorpus.txt
testSentences.txt
testSentences0.txt
testSentences1.txt
testSentences2.txt
testSentences3.txt
testSentences4.txt
testSentences5.txt
testSentences6.txt
testSentences7.txt
testSentences8.txt
testSentences9.txt
testSentences10.txt
testSentences11.txt
testSentences12.txt
testSentences13.txt
testSentences14.txt
testSentences15.txt
testSentences16.txt
testSentences17.txt
testSentences18.txt
testSentences19.txt
testSentencesCorrection0.txt
testSentencesCorrection1.txt
testSentencesCorrection2.txt
testSentencesCorrection3.txt
testSentencesCorrection4.txt
testSentencesCorrection5.txt
testSentencesCorrection6.txt
testSentencesCorrection7.txt
testSentencesCorrection8.txt
testSentencesCorrection9.txt
testSentencesCorrection10.txt
testSentencesCorrection11.txt
testSentencesCorrection12.txt
testSentencesCorrection13.txt
testSentencesCorrection14.txt
testSentencesCorrection15.txt
testSentencesCorrection16.txt
testSentencesCorrection17.txt
testSentencesCorrection18.txt
testSentencesCorrection19.txt
testScentencesCorrect.txt
testSentencesAnswers*
testdata.txt
apache-opennlp-1.5.3/
apache-opennlp-1.5.3\

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

.classpath
.project
trythis1.txt

PunctuationPredicter.java

trythis2.txt

correct_backoff0-5.zip

wrong_backoff.zip
smsCorpusAsText.txt
UKWAC-1.xml
